<plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>https://cdn.appvalley.vip/ipa/272.vip.appvalley.wapp.ipa</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>vip.appvalley.wapp</string><key>bundle-version</key><string>2.17.31</string><key>kind</key><string>software</string><key>title</key><string>WhatsApp++ by iPhoneMirror</string></dict></dict></array></dict></plist>