@charset "utf-8";

@font-face {
	font-family: iphone;
	src: url("iphone.otf") format("opentype");
}

@font-face {
	font-family: iphone-condensed;
	src: url("iphone-condensed.otf") format("opentype");
}

@font-face {
	font-family: iphone-lite;
	src: url("iphone-lite.otf") format("opentype");
}
